[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "LightFX"]
	path = LightFX
	url = https://github.com/QuinnDamerell/LightFX.git
[submodule "Rapcom"]
	path = Rapcom
	url = https://github.com/QuinnDamerell/Rapcom.git
